.container .ashfall{
    margin-top: 10vh;
}
.container .graveyard h4{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}
.container .graveyard img{
    max-height: 500px;
    margin: 0 auto;
    display: block;
}
.container .graveyard p{
    text-align: center;
}
.container .bonecliff{
    padding: 20px;
    font-size: 1.2em;
    margin-top: 20px;
}
.container .bonecliff ul li{
    margin-left: 20px;
    list-style: disc;
}
.container .ashfall{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .ashfall .dailyboss{
    text-align: center;
    font-family: arial;
    font-size: 1.3em;
}
@media screen and (max-width:400px){
    .container .graveyard img{
        max-height: 100px;
    }
    .container .ashfall{
        margin-top: 0vh;
    }
    .mobileView{
        display: block;
    }
    .container .bonecliff{
        padding: 10px;
        font-size: 0.8em;
    }
}