<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css"> 
    <link rel="stylesheet" href="../css/help.css"> 
    <title>What?</title>
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="barrowpoint">
            <li><a href="../">All items</a></li>
            <li><a href="../views/myprogress.php">My progress</a></li>
            <li><a href="#">Help, what?!</a></li>
            <li><a href="../php/logout.php?sair=logout">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="mobile menuvindicator">
    <div class="mobile tengu" id="tenguzao"><div class="kuuhaku">=</div></div>
    <div class="mobile naturesilvan">Rare checklist</div>
</div>
<container class="container">
    <section class="ashfall">
        <article class="dailyboss">
            <p>
                Please, do not share your AE Account, <b>DOESN'T NEED</b> your AE Account to use.   
            </p>
            <br>
            <p> 
                You will never get lose anymore with your tasks, when I backed to the game after a while time studying I felt lost so, I just decided to do this to help you.
            </p>
        </article>
    </section>

    <div class="graveyard">
        <h4>This rare list is based on this image: </h4>
        <img alt="rare" src="../image/done2.png">
        <p class="mobileView"><a href="../image/done2.png">See this image</a></p>
        <p>I just updated this image, the original you can find on Twitter: AQ3D Rare Hunters</p>
    </div>

    <div class="bonecliff">
        <h3>Items or quests added:</h3>
        <ul>
            <li>Souls For The Sword Quest</li>
            <li>Perfect Assembly Quest</li>
        </ul>

    </div>
    


</container>
<footer>
    <a href="https://twitter.com/KuuhakuAQ3D">Made by: (Twitter)Kuuhaku</a>
</footer>
</body>
<script src="../js/help.js"></script>
</html>